
[colors]
background = #222
background-alt = #444
foreground = #dfdfdf
foreground-alt = #555
primary = #ffb52a
secondary = #e60053
alert = #bd2c40

[bar/arch-linux]
width = 100%
height = 19
fixed-center = false
; offset-x = 1%
; offset-y = 1%
; radius = 6.0
background = ${colors.background}
foreground = ${colors.foreground}
line-size = 2
line-color = #f00
; border-size = 4
; border-color = #000000
padding-left = 0
padding-right = 2
module-margin-left = 1
module-margin-right = 2
font-0 = misc fixed:pixelsize=9;1
font-1 = unifont:fontformat=truetype:size=8:antialias=false;0
font-2 = siji:pixelsize=8:1
modules-left = bspwm i3
; modules-center = 
modules-right = pulseaudio ovpn wlan eth filesystem memory cpu temperature battery date
tray-position = right
tray-padding = 2
; tray-background = #0063ff
cursor-click = pointer

[module/xwindow]
type = internal/xwindow
label = %title:0:30:...%

[module/bspwm]
type = internal/bspwm
label-focused = %index%
label-focused-background = ${colors.background-alt}
label-focused-underline = ${colors.primary}
label-focused-padding = 1
label-occupied = %index%
label-occupied-padding = 1
label-urgent = %index%!
label-urgent-background = ${colors.alert}
label-urgent-padding = 1
lebel-empty = %index%
label-empty-foreground = ${colors.foreground-alt}
label-empty-padding = 1
; label-separator = |

[module/i3]
type = internal/i3
format = <label-state> <label-mode>
index-sort = true
wrapping-scroll = false
label-mode-padding = 1
label-mode-foreground = #000
label-mode-background = ${colors.primary}
label-focused = %name%
label-focused-background = ${colors.background-alt}
label-focused-underline = ${colors.primary}
label-focused-padding = 1
label-unfocused = %name%
label-unfocused-padding = 1
label-visible = %name%
label-visible-background = ${self.label-focused-background}
label-visible-underline = ${self.label-focused-underline}
label-visible-padding = ${self.label-focused-padding}
label-urgent = %name%
label-urgent-background = ${colors.alert}
label-urgent-padding = 1
label-separator = | 

[module/cpu]
type = internal/cpu
interval = 2
format-prefix = "cpu: "
format-prefix-foreground = ${colors.foreground-alt}
format-underline = #634b84
label = %percentage:2%%

[module/memory]
type = internal/memory
interval = 2
format-prefix = "mem: "
format-prefix-foreground = ${colors.foreground-alt}
format-underline = #0091b3
label = %percentage_used%%

[module/wlan]
type = internal/network
interface = {{ polybar_wl_iface.stdout }}
interval = 3
label-conected = %essid%
format-connected-prefix = "wifi: "
format-connected-prefix-foreground = ${colors.foreground-alt}
format-connected = <label-connected>
format-connected-underline = #8bc34a
; format-disconnected = 

[module/eth]
type = internal/network
interface = {{ polybar_eth_iface.stdout }}
interval = 3
label-connected = %local_ip%
format-connected-prefix = "eth: "
format-connected-prefix-foreground = ${colors.foreground-alt}
format-connected = <label-connected>
format-connected-underline = #8bc34a
; format-disconnected = 

[module/date]
type = internal/date
interval = 5
; date = 
date-alt = " %Y-%m-%d"
time = %H:%M
time-alt = %H:%M:%S
format-prefix = 
format-prefix-foreground = ${colors.foreground-alt}
format-underline = #bfbaac
label = %date% %time%

[module/pulseaudio]
type = internal/pulseaudio
format-volume = <label-volume> <bar-volume>
format-volume-underline = #a66600
label-volume = vol: %percentage%%
label-volume-foreground = ${colors.foreground-alt}
label-muted = muted
label-muted-foreground = #666
label-muted-underline = #a66600
bar-volume-width = 10
bar-volume-foreground-0 = #55aa55
bar-volume-foreground-1 = #55aa55
bar-volume-foreground-2 = #55aa55
bar-volume-foreground-3 = #55aa55
bar-volume-foreground-4 = #55aa55
bar-volume-foreground-5 = #f5a70a
bar-volume-foreground-6 = #ff5555
bar-volume-gradient = true
bar-volume-indicator = |
bar-volume-indicator-font = 2
bar-volume-fill = -
bar-volume-fill-font = 2
bar-volume-empty = -
bar-volume-empty-font = 2
bar-volume-empty-foreground = ${colors.foreground-alt}

[module/battery]
type = internal/battery
battery = BAT0
adapter = AC
full-at = 98
; label-charging = 
; format-charging = <label-charging>
format-charging-prefix = "bat: "
format-charging-prefix-foreground = ${colors.foreground-alt}
format-charging-underline = #ffb52a
; label-discharging = 
; format-discharging = <label-discharging>
format-discharging-prefix = "bat: "
format-discharging-prefix-foreground = ${colors.foreground-alt}
format-discharging-underline = ${self.format-charging-underline}
format-full-prefix = "bat: "
format-full-prefix-foreground = ${colors.foreground-alt}
format-full-underline = ${self.format-charging-underline}

[module/temperature]
type = internal/temperature
thermal-zone = 0
warn-temperature = 80
label = %temperature-c%
label-warn = %temperature-c%
label-warn-foreground = ${colors.secondary}
format-prefix = "temp: "
format-prefix-foreground = ${colors.foreground-alt}
format = <label>
format-underline = #289c93
format-warn = <label-warn>
format-warn-underline = ${self.format-underline}

[module/ovpn]
type = custom/script
exec = ~/.config/polybar/ovpn.sh
interval = 5
format-prefix = "vpn: "
format-prefix-foreground = ${colors.foreground-alt}
format-underline = #005161

[module/filesystem]
type = custom/script
exec = ~/.config/polybar/filesystem.sh
interval = 25
format-prefix = "hdd: "
format-prefix-foreground = ${colors.foreground-alt}
format-underline = #d12f2c

[settings]
screenchange-reload = true
pseudo-transparency = true

[global/vm]
margin-top = 5
margin-bottom = 5

# vim: ft=dosini
